<app-header backButton="/login"></app-header>


<ion-content [fullscreen]="true">
  
  <ion-button color="warning" *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full"  shape="round">
    <ion-icon slot="end" name="videocam-outline"></ion-icon>
     Escanear QR
  </ion-button>


  <ion-button (click)="Login()" color="warning" expand="full" shape="round"  >Volver</ion-button>


  <ion-button color="warning" class="boton-escaneo" *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Los datos en el Código QR son estos:</ion-card-title>
    </ion-card-header>
    <ion-card-content class="borde">
      <h2 *ngIf="datosQR">
        {{ datosQR }}
      </h2>
      <h2 *ngIf="!datosQR">
        Sin información
      </h2>
    </ion-card-content>
  </ion-card>

</ion-content>
