<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card-title><h1>Duoc <span>UC</span></h1></ion-card-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesion</ion-card-title>
      </ion-card-header>
    </ion-card>
     
    <ion-card-content>

      <ion-item>
        <ion-input label="Correo:" placeholder="usermail@duocuc.cl"></ion-input>
      </ion-item>
      <ion-item>

      <ion-input label="Contraseña:" type="password" placeholder="*********"></ion-input>
      </ion-item>

      <ion-button (click)="IniciarSesion()">Ingresar</ion-button>
      <ion-button (click)="Login()">Volver</ion-button>
     
      <ion-item button>
        <ion-label (click)="RecuperarContra()" color="secondary">¿Olvidaste tu contraseña?</ion-label>
      </ion-item>
  
    </ion-card-content>
  
  </div>
</ion-content>



