<app-header title="Bienvenido a duoc"></app-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">App Douc</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Bienvenido a Duoc UC</ion-card-title>
        </ion-card-header>
      </ion-card>
    
      <ion-button routerLink="login" color='warning' >Iniciar Sesíon</ion-button>
    </div>
  </ion-content>
   