ion-card {
    margin-bottom: 10px;
  }
 
.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .asignatura-card {
    width: 45%; /* Ajusta el ancho de la tarjeta */
    margin: 10px; /* Margen entre tarjetas */
    /* Agrega otros estilos necesarios */
}
    