<app-header></app-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Douc</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <img src="assets/img/viñadelmar-home.jpg">
        <!-- <ion-card-title><h1>Duoc <span>UC</span></h1></ion-card-title> -->
        <ion-card-title>Bienvenido a Duoc UC</ion-card-title>
      </ion-card-header>
    </ion-card>
  
    <ion-button (click)="go()"color='warning' >Iniciar Sesíon</ion-button>
    <ion-button routerLink="login" color='warning' >Iniciar Sesíon</ion-button>
  </div>
</ion-content>
 